.eric6project/
_eric6project/
.eric5project/
_eric5project/
.eric4project/
_eric4project/
.ropeproject/
_ropeproject/
.directory/
build/
main.build/
main.dist/
icons/
dist/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*.png
*.jpg
*.jpeg
*.odt
*.doc
*~
cur/
tmp/
__pycache__/
*.DS_Store
